<!DOCTYPE html>
<html>
	<head>
		<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a {
    display: block;
    width: 300px;
    background-color: #dddddd;
}
</style>

		
	</head>
	<body style="background-color:darkblue; color:#fff">
		<ul>
  <li><a href="/home/">Home</a></li>
  <li><a href="/article/">Articles</a></li>
  <li><a href="/sign_in/">Sign In</a></li>
  <li><a href="/sign_up/">Sign Up</a></li>
   <li><a href="#FaceBook Login">FaceBook Login</a></li>
</ul>
{% block main %}Main Content{%endblock %}
	</body>
</html>