article page 
{% extends 'base.html'%}
{% load static %}

{% block main %}
<p>{{ article.post_text }}</p>
<img src="{% static 'images/article/' %}{{imageName}}" width=200px , heigth=300px></img>
{% if article.comment_set.all %}
				<ul>
					
				{% for comment in article.comment_set.all %}
				<div>
					<li>{{comment.comment_text}}</li>
				</div>
				<br>
				{%endfor%}
				
			</ul>
			{% else %}
			<br>
				<b>No Comments</b>
				
			{% endif %}
<div>
				add your comment here
				{{article.id}}
	         <form method="POST" action="/comment/{{article.id}}/">
	         	{% csrf_token %}
	
	       <input type='textarea' id='commentField' name='commentname'/>
	      </div>
{%endblock%}