article page 
{% extends 'base.html'%}
{% load static %}

{% block main %}
<h2>{{article.post_title}}</h2>
{{ article.post_date }}
<img src="{% static 'images/article/' %}{{imageName}}" width=600px , heigth=300px ></img>
<p>{{ article.post_text }}</p>

{% if article.comment_set.all %}
				
					
				{% for comment in article.comment_set.all %}
				<div>
					{{comment.comment_text}}
				</div>
				<br>
				{%endfor%}
				
			</ul>
			{% else %}
			<br>
				<b>No Comments</b>
				
			{% endif %}

<div>
				add your comment here
				{{article.id}}
	         <form method="POST" action="/article/get/{{article.id}}/">
	         	{% csrf_token %}
	
	       <input type='textarea' id='commentField' name='commentnamee'/>
	      </div>
{%endblock%}