{% extends 'base.html'%}
{% load static %}

{% block main %}

pages : {{posts_page.post_title}}

<div class="article">
	<div class="image">
		    <h3><a href="/article/get/{{posts_page.id}}/{{article.id}}">{{posts_page.post_title}}</a></h3>
			{{posts_page.post_date}}
			<p>{{posts_page.post_text|truncatechars:250}}</p>

			<a href="/article/get/{{article.id}}">More details</a>
		
	</div>
	<div class="image">	
		    <img src="/static/images/article/{{article.id}}.jpg" width=300px,height=270px>
			<br/>
			
		
		
	</div>

</div>

{%endblock%}